<div class = 'container'>
  <div class = 'col-md-6 col-md-offset-3'>
    <div class = 'panel panel-default'>
      <div class = 'panel-heading'>
        <center><h2>Resend Confirmation Instructions</h2></center>
      </div>

      <div class = 'panel-body'>
        <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
          <%= devise_error_messages! %>

          <div class="form-group">
            <%= f.label :email, class: 'col-sm-2 control-label' %>
            <div class = 'col-sm-10'>
              <%= f.email_field :email, class: 'form-control', autofocus: true, value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
            </div>
          </div>
          <br /><br /><br />
          <div class="actions">
            <center><%= f.submit "Resend confirmation instructions", class: 'btn btn-primary' %></center>
          </div>
        <% end %>
        <br />
        <center><%= render "devise/shared/links" %></center>
      </div>
    </div>
  </div>
</div>
